<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487714067186-m8vqp867tbiuletaof9vk5o3mgeisf52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487714067186-m8vqp867tbiuletaof9vk5o3mgeisf52</string>
	<key>API_KEY</key>
	<string>AIzaSyDmPvjMpZNIaYoAI63ruhJ0EdoRHQI-g_U</string>
	<key>GCM_SENDER_ID</key>
	<string>487714067186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tryingswiggy</string>
	<key>PROJECT_ID</key>
	<string>rn-swiggyclone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-swiggyclone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487714067186:ios:091bd05ca4f9f7b69b366b</string>
</dict>
</plist>